<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="https://www.google.com/favicon.ico" type="image/x-icon" /> -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />

    <title>Usuarios</title>
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <h1>Lista de Usuarios</h1>
    <pre><%= JSON.stringify(users, null, 2) %></pre> <!-- Muestra el JSON formateado -->
</body>

</html>